---
import type { Headline as Props } from "~/types";
import { twMerge } from "tailwind-merge";
import Tagline from "./Tagline.astro";

const {
  title = await Astro.slots.render("title"),
  subtitle = await Astro.slots.render("subtitle"),
  subtitle2 = await Astro.slots.render("subtitle2"),
  tagline,
  type = 1,
  classes = {},
} = Astro.props;

const {
  container: containerClass = "",
  title: titleClass = "text-3xl md:text-5xl xl:text-[48px] xl:leading-[52px]",
  subtitle: subtitleClass = "text-lg xl:text-[18px] xl:leading-[24px] max-w-5xl xl:max-w-[1080px] mx-auto",
  subtitle2:
    subtitleClass2 = "text-lg xl:text-[18px] xl:leading-[24px] font-semibold max-w-5xl xl:max-w-[1080px] mx-auto",
} = classes;
---

{
  (title || subtitle || tagline) && (
    <div class={twMerge("mb-8 md:mx-auto md:mb-12 xl:mb-[48px] text-center", containerClass)}>
      {tagline && type !== 4 && <Tagline tagline={tagline} type={type} />}
      {type === 1 && (
        <>
          {title && (
            <h2
              class={twMerge(
                "font-semibold leading-tighter tracking-tighter font-heading text-heading text-4xl md:text-5xl xl:text-[48px] xl:leading-[52px]",
                "intersect-once intersect-tenth sm:intersect-quarter intercept-no-queue motion-safe:opacity-0 motion-safe:intersect:animate-fade",
                titleClass
              )}
              set:html={title}
            />
          )}

          {subtitle && <p class={twMerge("mt-4 xl:mt-[16px] text-muted", subtitleClass)} set:html={subtitle} />}
          {subtitle2 && <p class={twMerge("pt-10", subtitleClass2)} set:html={subtitle2} />}
        </>
      )}

      {type === 2 && (
        <div class="flex flex-col xl:flex-row justify-between text-left">
          {title && (
            <h2
              class={twMerge(
                "font-semibold leading-tighter tracking-tighter font-heading text-heading text-4xl md:text-5xl xl:text-[48px] xl:leading-[52px]",
                "intersect-once intersect-tenth sm:intersect-quarter intercept-no-queue motion-safe:opacity-0 motion-safe:intersect:animate-fade",
                titleClass
              )}
              set:html={title}
            />
          )}

          {subtitle && (
            <p
              class={twMerge(
                "mt-4 xl:mt-[16px] text-muted",
                "intersect-once intersect-tenth sm:intersect-quarter intercept-no-queue motion-safe:opacity-0 motion-safe:intersect:animate-fade",
                subtitleClass
              )}
              set:html={subtitle}
            />
          )}
          {subtitle2 && <p class={twMerge("pt-10", subtitleClass2)} set:html={subtitle2} />}
        </div>
      )}

      {type === 3 && (
        <div class="flex-col text-left">
          {title && (
            <h2
              class={twMerge(
                "font-semibold leading-tighter tracking-tighter font-heading text-heading text-4xl md:text-5xl xl:text-[48px] xl:leading-[52px]",
                "intersect-once intersect-tenth sm:intersect-quarter intercept-no-queue motion-safe:opacity-0 motion-safe:intersect:animate-fade",
                titleClass
              )}
              set:html={title}
            />
          )}

          {subtitle && (
            <p
              class={twMerge(
                "mt-4 xl:mt-[16px] text-muted",
                "intersect-once intersect-tenth sm:intersect-quarter intercept-no-queue motion-safe:opacity-0 motion-safe:intersect:animate-fade",
                subtitleClass
              )}
              set:html={subtitle}
            />
          )}
          {subtitle2 && <p class={twMerge("pt-10", subtitleClass2)} set:html={subtitle2} />}
        </div>
      )}

      {type === 4 && (
        <div class="flex flex-col-reverse xl:flex-row justify-between text-left">
          {subtitle && (
            <p
              class={twMerge(
                "mt-4 xl:mt-[16px] text-muted",
                "intersect-once intersect-tenth sm:intersect-quarter intercept-no-queue motion-safe:opacity-0 motion-safe:intersect:animate-fade",
                subtitleClass
              )}
              set:html={subtitle}
            />
          )}
          {subtitle2 && <p class={twMerge("pt-10", subtitleClass2)} set:html={subtitle2} />}

          {title && (
            <div class="flex flex-col">
              <Tagline tagline={tagline} type={type} />
              <h2
                class={twMerge(
                  "font-semibold leading-tighter tracking-tighter font-heading text-heading text-4xl md:text-5xl xl:text-[48px] xl:leading-[52px]",
                  "intersect-once intersect-tenth sm:intersect-quarter intercept-no-queue motion-safe:opacity-0 motion-safe:intersect:animate-fade",
                  titleClass
                )}
                set:html={title}
              />
            </div>
          )}
        </div>
      )}
    </div>
  )
}
